<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./ts.css" />
</head>
<body>
    <h2>倒计时</h2>
    <div class="t-timer"><span class="t-h"></span>：<span class="t-m"></span>：<span class="t-s"></span></div>
    <hr>

    <h2>弹窗</h2>
    <div class="t-pop t-font"></div>
    <button>弹窗</button>
    <button>成功</button>
    <button>失败</button>
    <button>提示</button>
    <button>警告</button>
    <hr>

    <h2>联动</h2>
    <div class="t-linkage-parent">
        <div class="t-linkage">
            <p class="t-linkage-select">联动选项1</p>
            <div class="t-linkage-show">
                <div class="t-linkage">
                    <p class="t-linkage-select">联动选项11</p>
                    <div class="t-linkage-show">
                        <div class="t-linkage"><p class="t-linkage-select">联动选项111</p></div>
                        <div class="t-linkage"><p>联动选项112</p></div>
                        <div class="t-linkage"><p>联动选项113</p></div>
                        <div class="t-linkage"><p>联动选项114</p></div>
                        <div class="t-linkage"><p>联动选项115</p></div>
                    </div>
                </div>
                <div class="t-linkage">
                    <p>联动选项12</p>
                    <div>
                        <div class="t-linkage"><p>联动选项121</p></div>
                        <div class="t-linkage"><p>联动选项122</p></div>
                        <div class="t-linkage"><p>联动选项123</p></div>
                        <div class="t-linkage"><p>联动选项124</p></div>
                        <div class="t-linkage"><p>联动选项125</p></div>
                    </div>
                </div>
                <div class="t-linkage">
                    <p>联动选项13</p>
                    <div>
                        <div class="t-linkage"><p>联动选项131</p></div>
                        <div class="t-linkage"><p>联动选项132</p></div>
                        <div class="t-linkage"><p>联动选项133</p></div>
                        <div class="t-linkage"><p>联动选项134</p></div>
                        <div class="t-linkage"><p>联动选项135</p></div>
                    </div>
                </div>
                <div class="t-linkage">
                    <p>联动选项14</p>
                    <div>
                        <div class="t-linkage"><p>联动选项141</p></div>
                        <div class="t-linkage"><p>联动选项142</p></div>
                        <div class="t-linkage"><p>联动选项143</p></div>
                        <div class="t-linkage"><p>联动选项144</p></div>
                        <div class="t-linkage"><p>联动选项145</p></div>
                    </div>
                </div>
                <div class="t-linkage">
                    <p>联动选项15</p>
                    <div>
                        <div class="t-linkage"><p>联动选项151</p></div>
                        <div class="t-linkage"><p>联动选项152</p></div>
                        <div class="t-linkage"><p>联动选项153</p></div>
                        <div class="t-linkage"><p>联动选项154</p></div>
                        <div class="t-linkage"><p>联动选项155</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="t-linkage">
            <p>联动选项2</p>
            <div>
                <div class="t-linkage">
                    <p>联动选项21</p>
                    <div>
                        <div class="t-linkage"><p>联动选项211</p></div>
                        <div class="t-linkage"><p>联动选项212</p></div>
                        <div class="t-linkage"><p>联动选项213</p></div>
                        <div class="t-linkage"><p>联动选项214</p></div>
                    </div>
                </div>
                <div class="t-linkage">
                    <p>联动选项22</p>
                    <div>
                        <div class="t-linkage"><p>联动选项221</p></div>
                        <div class="t-linkage"><p>联动选项222</p></div>
                        <div class="t-linkage"><p>联动选项223</p></div>
                        <div class="t-linkage"><p>联动选项224</p></div>
                    </div>
                </div>
                <div class="t-linkage">
                    <p>联动选项23</p>
                    <div>
                        <div class="t-linkage"><p>联动选项231</p></div>
                        <div class="t-linkage"><p>联动选项232</p></div>
                        <div class="t-linkage"><p>联动选项233</p></div>
                        <div class="t-linkage"><p>联动选项234</p></div>
                    </div>
                </div>
                <div class="t-linkage">
                    <p>联动选项24</p>
                    <div>
                        <div class="t-linkage"><p>联动选项241</p></div>
                        <div class="t-linkage"><p>联动选项242</p></div>
                        <div class="t-linkage"><p>联动选项243</p></div>
                        <div class="t-linkage"><p>联动选项244</p></div>
                    </div>
                </div>
                <div class="t-linkage">
                    <p>联动选项25</p>
                    <div>
                        <div class="t-linkage"><p>联动选项251</p></div>
                        <div class="t-linkage"><p>联动选项252</p></div>
                        <div class="t-linkage"><p>联动选项253</p></div>
                        <div class="t-linkage"><p>联动选项254</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="t-linkage">
            <p>联动选项3</p>
            <div>
                <div class="t-linkage"><p>联动选项31</p></div>
                <div class="t-linkage"><p>联动选项32</p></div>
                <div class="t-linkage"><p>联动选项33</p></div>
                <div class="t-linkage"><p>联动选项34</p></div>
                <div class="t-linkage"><p>联动选项35</p></div>
            </div>
        </div>
        <div class="t-linkage">
            <p>联动选项4</p>
            <div>
                <div class="t-linkage"><p>联动选项41</p></div>
                <div class="t-linkage"><p>联动选项42</p></div>
                <div class="t-linkage"><p>联动选项43</p></div>
                <div class="t-linkage"><p>联动选项44</p></div>
                <div class="t-linkage"><p>联动选项45</p></div>
            </div>
        </div>
        <div class="t-linkage">
            <p>联动选项5</p>
            <div>
                <div class="t-linkage"><p>联动选项51</p></div>
                <div class="t-linkage"><p>联动选项52</p></div>
                <div class="t-linkage"><p>联动选项53</p></div>
                <div class="t-linkage"><p>联动选项54</p></div>
                <div class="t-linkage"><p>联动选项55</p></div>
            </div>
        </div>

    </div>
    <hr class="hr">

    <h2>选项卡</h2>
    <div>123</div>
    <hr>

    <h2>卡号复制</h2>
    <div>123</div>
    <hr>

    <h2>轮播</h2>
    <div>123</div>
    <hr>

    <h2>选项卡</h2>
    <div>123</div>
    <hr>

    <h2>选项卡</h2>
    <div>123</div>
    <hr>



    <script src="./ts.js"></script>
    <script type="text/javascript">

        var ts = new TS()
        /**
         * 倒计时组件
         * @param timer 结束显示区
         * @param hour 小时显示区
         * @param minute 分钟显示区
         * @param second 秒显示区
         * @param date 传入时间 "2017/12/12,1:41"
         */
        ts.backTimers({
            timer: '.t-timer',
            hour: '.t-h',
            minute: '.t-m',
            second: '.t-s',
            date: '2018-8-2 18:30',
            text: '你个大傻子',
            color: 'blue'
        });


        /**
         * 元素动态效果
         * @param {Object} obj 元素
         * @param {Object} attr 需要变动的属性
         * @param {Object} target 目标值
         * @param {Object} callBack 结束回调
         */
        document.querySelectorAll('button')[0].onclick = function () {
            ts.move({
                eleTag: 't-alert',
                attr: 'top',
                target: 300,
                text: '我是弹窗',
                time: 2000,
                callBack: function () {
                    // alert('O(∩_∩)O哈哈~')
                }
            })
        }
        document.querySelectorAll('button')[1].onclick = function () {
            ts.move({
                eleTag: 't-success',
                attr: 'top',
                target: 100,
                text: '我是成功',
                time: 3000,
                callBack: function () {
                    // console.log(1)
                }
            })
        }
        document.querySelectorAll('button')[2].onclick = function () {
            ts.move({
                eleTag: 't-err',
                attr: 'bottom',
                target: 300,
                text: '我是err',
                time: 1000,
                callBack: function () {
                    // console.log(1)
                }
            })
        }
        document.querySelectorAll('button')[3].onclick = function () {
            ts.move({
                eleTag: 't-info',
                attr: 'left',
                target: 100,
                text: '我是info',
                time: 2000,
                callBack: function () {
                    // console.log(1)
                }
            })
        }
        document.querySelectorAll('button')[4].onclick = function () {
            ts.move({
                eleTag: 't-warning',
                attr: 'right',
                target: 100,
                text: '我是warning',
                time: 5000,
                callBack: function () {
                    // console.log(1)
                }
            })
        }

        /**
         *  联动组件
         */
        ts.linkage()



    </script>
</body>
</html>