/*com*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, 微软雅黑, Microsoft yahei, Hiragino Sans GB, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
}
a, a:link, a:visited, a:hover, a:active{
    color: #666;
    text-decoration: none;
}
.t-font{
    font-size: 12px;
}
.t-hide{
    display: none;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/*keyRight*/
#keyRight{
    /*width:100px;*/
    /*height:300px;*/
    /*background:cornflowerblue;*/
    position:absolute;
    display: none;
}
/*time*/
.t-d, .t-h, .t-m, .t-s{
    display: inline-block;
    padding: 5px 3px;
    background: #000;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}
/*pop*/
.t-pop{
    width: 600px;
    position: fixed;
    _position:absolute;
    display: none;
    padding: 15px;
    border-radius: 3px;
    z-index: 9999999;
    background: #fff;
}
.t-success{
    color:#2b892c;
    border:1px solid #2b892c;
    background: #f0fbf2;
    /*top:20px*/
}
.t-err{
    color:#e08989;
    border:1px solid #e08989;
    background: #fdf1f1;
    /*top:80px*/
}
.t-info{
    color:#3298b9;
    border:1px solid #3298b9;
    background: #f0fbff;
    /*top:140px*/
}
.t-warning{
    color:#dc9316;
    border:1px solid #dc9316;
    background: #fff6e6;
    /*top:200px*/
}
.t-alert{
    border:1px solid #fff;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.2), 1px 3px 15px 2px rgba(0,0,0,.2);
}
/*linkage*/
.t-linkage-parent{
    position: relative;
}
.t-linkage{
    display: inline-block;
}
.t-linkage>p{
    margin: 10px 0;
}
button{
    background: none;
    outline: none;
}
.t-linkage>p, .t-btn{
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 3px;
}
.t-linkage>p, .t-btn, .t-paging>a{
    display: inline-block;
    border:1px solid #05a6ff;
    color: #05a6ff;
}
.t-linkage>p:hover, p.t-linkage-select, .t-btn:hover, .t-paging>a:hover{
    background: #05a6ff;
    transition: all .2s linear;
    color: #fff;
}
.t-linkage>div{
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
}

.t-linkage>div.t-linkage-show{
    display: block;
}

/*tabs*/
.t-tabs-hover{
    border-bottom: 1px solid #05a6ff;
    color: #05a6ff;
}
.t-tabs>ul{
    overflow: hidden;
}
.t-tabs li{
    float: left;
    padding: 10px 15px;
}
.t-tabs>div{
    padding: 10px 15px;
}
/*copy*/
.t-copy>span, .t-copy>input{
    display: none;
}
.t-copy>span{
    box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09);
    margin-top: 5px;
    position: absolute;
}
.t-copy{
    position: relative;
    width: 100px;
}
.t-copy>p{
    padding: 5px 0;
    cursor: pointer;
}
.t-copy>input{
    position: absolute;
    top: 5px;
    left: 100%;
    border: 1px solid #05a6ff;
    background: none;
}
/*banner*/
.t-banner{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 1%;
}
.t-banner ul{
    overflow: hidden;
}
.t-banner li{
    float: left;
}
.t-banner .t-banner-nav{
    position:absolute;
    bottom: 8%;
    z-index: 100;
}
.t-banner .t-banner-nav a{
    display: block;
    float: left;
    width: 5px;
    height: 5px;
    margin-left: 5px;
    border-radius: 50%;
    border: 1px solid white;
}
/*marquee*/
.t-marqueebox{
    border:#bbb 1px solid;
    overflow:hidden;
}
.t-marqueebox li{
    text-align:center;
}
/*pmgressbar*/
.t-pmgressbar{
    width: 0;
    height: 2px;
    background: #05a6ff;
    position: fixed;
    top:0;
    left:0;
    right: 0;
}
/*table*/
.t-table{
    margin:auto;
    width: 100%;
    /*border-spacing:0;*/
    border-collapse:collapse;
}
.t-table thead{
    background:#f1f1f1;
}
.t-table td,th{
    border:1px solid #e6e6e6;
}
.t-table tr{
    height:50px;
    text-align: center;
}
/*.t-table tr:nth-child(!*odd*!2n){*/
    /*background:#B3B1AD;*/
/*}*/
/*.t-table tr:nth-of-type(odd):hover{*/
    /*background: #eaeaea;*/
/*}*/
/*.t-table tr:nth-of-type(even):hover{*/
    /*background:#eaeaea;*/
/*}*/
.t-table tr:hover{
    background: #f3f3f3;
}
.t-table a{
    color: #05a6ff
}
.t-table thead th:last-child{
    width: 150px;
}
.t-table tbody td:last-child{
    position: relative;
}
.t-icon{
    color: #05a6ff;
    cursor: pointer;
}
.t-other-item{
    position: absolute;
    top:38px;
    right: 8px;
    background: #fff;
    border: 1px solid #05a6ff;
    padding: 5px 5px 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .2s linear;
}
.t-other-item a{
    display: block;
    padding-bottom: 5px;
}
.t-table tfoot tr td{
    text-align: left;
    padding-left: 3%;
}
.t-table tfoot tr:first-child span{
    padding-right: 2%;
    color:#05a6ff;
}
/*paging*/
.t-paging a{
    height: 30px;
    line-height: 30px;
    padding:0 12px;
    border-left: none;
}
.t-paging a:first-child{
    border-left: 1px solid #05a6ff;
}