<div class="ts_item">
    <h2>表格</h2>
    <table class="t-table">
        <caption>

        </caption>
        <thead>
            <tr>
                <th>
                    <svg class="icon t-icon" aria-hidden="true">
                        <use xlink:href="#icon-xz"></use>
                    </svg>
                </th>
                <th>
                    <span>ID编号</span>
                </th>
                <th>
                    <span>姓名</span>
                    <svg class="icon t-icon t-icon-px" aria-hidden="true">
                        <use xlink:href="#icon-px"></use>
                    </svg>
                </th>
                <th>
                    <span>性别</span>
                </th>
                <th>
                    <span>年龄</span>
                    <svg class="icon t-icon t-icon-px" aria-hidden="true">
                        <use xlink:href="#icon-px"></use>
                    </svg>
                </th>
                <th>
                    <span>爱好</span>
                </th>
                <th>edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7"></td>
            </tr>
            <tr>
                <td rowspan="2">
                    <svg class="icon t-icon" aria-hidden="true">
                        <use xlink:href="#icon-mxz"></use>
                    </svg>
                </td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>
                    <svg class="icon t-icon-up" aria-hidden="true">
                        <use xlink:href="#icon-px-up-black"></use>
                    </svg>
                    <svg class="icon t-icon-down" aria-hidden="true">
                        <use xlink:href="#icon-px-down-black"></use>
                    </svg>
                </td>
                <td>
                    <a href="">修改</a>
                    <a href="">删除</a>
                    <a href="">新增</a>
                    <svg class="icon t-icon t-icon-item" aria-hidden="true">
                        <use xlink:href="#icon-down"></use>
                    </svg>
                    <div class="t-other-item">
                        <a href="">设置</a>
                        <a href="">关注</a>
                        <a href="">举报</a>
                    </div>
                </td>
            </tr>
            <tr>

                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>
                    <svg class="icon t-icon-up" aria-hidden="true">
                        <use xlink:href="#icon-px-up-black"></use>
                    </svg>
                    <svg class="icon t-icon-down" aria-hidden="true">
                        <use xlink:href="#icon-px-down-black"></use>
                    </svg>
                </td>
                <td>
                    <a href="">修改</a>
                    <a href="">删除</a>
                    <a href="">新增</a>
                    <svg class="icon t-icon t-icon-item" aria-hidden="true">
                        <use xlink:href="#icon-down"></use>
                    </svg>
                    <div class="t-other-item">
                        <a href="">设置</a>
                        <a href="">关注</a>
                        <a href="">举报</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <svg class="icon t-icon" aria-hidden="true">
                        <use xlink:href="#icon-xz"></use>
                    </svg>
                </td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>
                    <svg class="icon t-icon-up" aria-hidden="true">
                        <use xlink:href="#icon-px-up-black"></use>
                    </svg>
                    <svg class="icon t-icon-down" aria-hidden="true">
                        <use xlink:href="#icon-px-down-black"></use>
                    </svg>
                </td>
                <td>7</td>
            </tr>
            <tr>
                <td>
                    <svg class="icon t-icon" aria-hidden="true">
                        <use xlink:href="#icon-xz"></use>
                    </svg>
                </td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>
                    <svg class="icon t-icon-up" aria-hidden="true">
                        <use xlink:href="#icon-px-up-black"></use>
                    </svg>
                    <svg class="icon t-icon-down" aria-hidden="true">
                        <use xlink:href="#icon-px-down-black"></use>
                    </svg>
                </td>
                <td>7</td>
            </tr>
            <tr>
                <td>
                    <svg class="icon t-icon" aria-hidden="true">
                        <use xlink:href="#icon-xz"></use>
                    </svg>
                </td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>
                    <svg class="icon t-icon" aria-hidden="true">
                        <use xlink:href="#icon-xz"></use>
                    </svg>
                </td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td colspan="2">

                </td>

                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>
                    <a href="">修改</a>
                    <a href="">删除</a>
                    <a href="">新增</a>
                    <svg class="icon t-icon t-icon-item" aria-hidden="true">
                        <use xlink:href="#icon-down"></use>
                    </svg>
                    <div class="t-other-item">
                        <a href="">设置</a>
                        <a href="">关注</a>
                        <a href="">举报</a>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">已选：<span>2</span>条，共计：<span>10</span>条</td>
            </tr>
            <tr>
                <td colspan="7">
                    <div class="t-paging t-paging-table">
                        <a href="">上一页</a><a href="" class="t-color">1</a><a href="">2</a><a href="" class="t-not-allowed">···</a><a href="">尾页</a><a href="">下一页</a>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <hr>
</div>

<div class="ts_item">
    <h2>表单</h2>
    <div>123</div>
    <hr>
</div>

<div class="ts_item">
    <h2>右键</h2>
    <div id="keyRight">禁止右键</div>
    <hr>
</div>
