/*public admin*/
body{font-family: "微软雅黑"; font-size: 14px;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover,.layui-nav-tree .layui-nav-bar, .layui-nav .layui-this:after,
.layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after, .layui-form-select dl dd.layui-this, .layui-btn, .layui-form-checked[lay-skin=primary] i,
.layui-laydate td.layui-this, .layui-laydate li.layui-this, .layui-layer-btn .layui-layer-btn0, .layui-form-onswitch,.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #0793ee !important;
}
.layui-breadcrumb a:hover, .layui-form-radio>i:hover, .layui-form-radioed>i, .layui-laydate-header i:hover, .layui-laydate-header span:hover,
.layui-laydate-footer span:hover, .layui-laydate-footer span:hover, .layui-laydate-footer span[lay-type=date], .layui-tab-brief>.layui-tab-title .layui-this,
.layui-laypage a:hover, .layui-body table a{
    color: #0793ee !important;
}
.layui-form-checked[lay-skin=primary] i, .layui-form-checkbox[lay-skin=primary]:hover i, .layui-layer-btn .layui-layer-btn0, .layui-form-onswitch{
    border-color: #0793ee !important;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom: 2px solid #0793ee !important;
}
.layui-laydate-content td.laydate-selected {
    background-color: #9abdf7 !important;
}
 .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-this, .layui-nav .layui-nav-child dd.layui-this a{
 	background:none !important;
 }
 .t_num_edit, .t_num_edit>a{color: #0793ee}
.layui-form-item{margin-bottom: 25px;}
table a{color: #135fdf !important;}

/*public左侧边栏*/
.hide_side{display: none}
.hide_side>li{position: relative}
.hide_side>li>a{color: #fff; display: block; height: 65px; line-height: 54px; text-align: center}
.hide_side_dl{position: absolute; left: 70px; top:20px; width: 80px; display: none; background: #000; border-radius: 2px; padding-top: 10px}
.hide_side_dl dd{padding-bottom: 10px; text-align: center; position: relative}
.hide_side_dl a{color: #fff}
.layui-bg-black, .layui-nav-tree.layui-nav{background: #010125 !important;}
.layui-nav-itemed>.layui-nav-child{background-color: rgba(0,0,0,0.6)!important;}
.layui-nav-tree .layui-nav-item a:hover{background: none}
.layui-layout-admin .layui-header{background-color: #fff;}
.layui-layout-left a.layui-icon, .layui-layout-left a.layui-icon:hover{color: #3b3b3f}
.layui-nav-tree .layui-nav-child a, .layui-nav-tree .layui-nav-item a{height: 52px; line-height: 52px; padding:0 18%}
.t_icon{padding-right: 15px; font-size: 18px}
.t_triangle{position:absolute; left: -8px; width: 0; height: 0; border-top: 10px solid #000; border-left: 8px solid transparent;}
/* .layui-nav-item .t_item{background: #010117} */
.layui-nav-item .t_item a{padding-left: 32%}
.layui-nav-tree .layui-nav-more{right: 18%;}
.layui-nav-tree .layui-nav-child{display: block; height: 0; overflow-y: hidden; padding: 0}
.layui-nav-more.icon_more{margin-top: -9px;border-style: dashed dashed solid;border-color: transparent transparent #fff;}
.layui-layout-right span{color:#444}
.layui-nav-tree{padding-top:19px}
.layui-layout-admin .layui-side, .layui-layout-admin .layui-body{top:54px;}
.layui-layout-left .layui-nav-item, .layui-layout-right .layui-nav-item, .layui-header, .layui-layout-admin .layui-logo{height:54px; line-height:54px}
.layui-layout-admin .layui-side, .layui-layout-admin .layui-logo{width:12%}
.layui-side-scroll, .layui-nav-tree{width:100%}
.layui-layout-left{left:0}
.layui-layout-right li{float:left}
.layui-layout-right .header_right_item a{display:inline-block;padding-left:5px; position:relative}
.layui-layout-right .header_right_item  .r_img{padding: 0 20px 0 0}
.layui-layout-right .r_img img{width:30px;color:#444}
.layui-layout-right .layui-nav-child{min-width:70%; left:30px}
.layui-nav .layui-badge-dot{top:40%; left:28%}
.layui-layout-right a:nth-child(1) img {width: 28px;}
.layui-layout-left a{font-size:18px}
.layui-logo{background:#fff;/* line-height: 77px !important */width: 120px}
.layui-logo img{width: 120px}
.header_right{position:  relative;width: 88%;height: 100%;float: right;}
.layui-nav-tree .layui-nav-bar, .layui-layout-right .layui-nav-bar, .layui-layout-right .layui-this:after{background:none !important}

/*public右侧body*/
.header_right{-moz-box-shadow:1px 2px 2px -1px #bfbfbf; -webkit-box-shadow:1px 2px 2px -1px #bfbfbf; box-shadow:1px 2px 2px -1px #bfbfbf;}
.layui-body{padding: 18px; background: #EDF0F5; left:12%}
.box{background: #fff; padding:10px 10px 50px; border-radius: 2px; box-shadow: -1px 2px 7px #e2e2e2}
.box h2,.t_bread_nav{font-size: 14px; padding-left: 20px;}
.t_admin_title{height: 66px; line-height: 66px; border-bottom: 1px solid #e6e6e6}
.t_admin_text{padding: 50px 0 0 50px}
.t_admin_table{padding-top:20px}
.layui-layout-admin .layui-body{bottom:0}

/*个人中心*/
.t_admin_content .layui-form-label{padding: 9px 100px 9px 0}
.t_info_p{height: 38px; line-height: 38px; display: inline-block}
.t_num_edit{float: right; padding-right: 100px}
.t_num_edit, .t_num_edit>a{color: #1053FD}
a.t_num_edit:hover{color: #1053FD}
.t_info_a{padding-right: 100px}
.t_admin_content .layui-form-item{color: #666}
.t_personal_info button{height: 38px; background-color: #1053FD; margin-left: 50px}
.t_change_phone button, .t_mod_password button{width: 80px}
.t_title_right{float: right; padding-right: 20px}
.t_title_right button, .t_statistics button{width: 85px;}
.t_title_right .layui-inline{padding-right: 5px;}
.t_send_email{width:300px; margin-top:30px}
.t_email_vcode{width:150px; display:inline-block;}
.t_email_btn{background: #1053fd; float:right}
.layui-btn.layui-btn-primary{background: none !important}
.layui-btn-primary:hover{border-color: #0793ee; color: #0793ee}
#paging{float: right}
.t_page_count{float: left;height: 50px; line-height: 50px}
.layui-body a.t_msg_unread{color: #4c4c4c !important;}
.layui-body a.t_msg_read{color: #818181 !important;}
.t_msg_title{text-align: center}
.t_msg_title h3{font-size: 18px;}
.t_msg_title p{padding: 20px 0; border-bottom: 1px solid #ececec}
.t_msg_details h4{margin: 30px;}
.t_msg_details p{margin-left: 30px;}
.t_msg_details p a{color:#0793ee;}
.msg_list{margin-top:20px}



/*产品购买*/
.t_admin_table table, .layui-table thead th{text-align: center}
.t_admin_table table a{padding-left: 10px; color: #1053FD}
.t_table_details{width:600px; padding-left: 20px}
.t_table_details h3, .t_table_flow h3{font-size: 14px; margin-bottom: 20px; color:#666}
#productsPopup{padding:20px 50px 0}
.web_popup,.game_popup,.flow_popup{display: none}
.web_popup td, .game_popup td, .flow_popup td{text-align: center}
.web_popup p, .game_popup p, .flow_popup p{margin:20px 0 8px; color: red; font-size: 12px; line-height: 18px;}
.web_popup a, .game_popup a, .flow_popup a{color: #1053fd}
/*.web_shield_body .layui-table-view, .box{-moz-box-shadow: -1px 2px 7px #666563; -webkit-box-shadow: -1px 2px 7px #666563; box-shadow: -1px 2px 7px #ccc;}*/

/*产品配置*/
.t_node_ip{width: 370px; overflow:hidden}
.t_node_ip>div{margin-bottom: 10px}
.t_load_input{overflow:hidden;}
.t_load_btn{padding-left: 300px}
.t_load_input{padding-bottom: 10px}
.t_node_edit .layui-form-label{width:200px}
.t_node_edit .layui-form-item .layui-inline{margin-bottom: 0; float: left; margin-right:0}
.t_node_color{color: red}
.t_node_edit>form>button{margin-left: 132px;}

/*流量统计*/
.t_statistics{margin-top: 20px; padding:0 20px; color: #666}
.t_statis_span>span{color: #1053FD; display: inline-block; padding-left: 15px}
.t_statistics p{float: left; height: 40px; line-height: 40px; padding-right: 20px}
.t_statis_sel{float: right}
.t_statis_sel>div{padding-right: 10px}
#statisChart{height: 500px; margin-top: 50px}
.mytime_input{width: 320px}

/*流量包管理*/
.flow_bor{margin: 30px 20px 40px; clear: both; overflow: hidden; padding: 40px 0 40px 50px; box-shadow: 1px 1px 20px 1px #d8d6d6; border-radius: 5px; background: #fff;}
.flow_div img{float: left;}
.flow_num{float: left; padding: 3px 0 0 30px;}
.flow_num>h3{font-size: 40px;}
.flow_one h3{color: #20daae;}
.flow_two h3{color: #40a4f0;}
.flow_three h3{color: #f96e9f;}
.flow_four h3{color: #9e73f5;}
.flow_num>p{font-size: 16px;}
.t_table_flow{width: 800px; padding-left: 20px;}
.t_scope_input{text-align: left}

/*订单*/
.pay_popup_item{margin:15px 0 0 0; color: #666}
.pay_popup_item .layui-form-radio{margin-top:2px}
.pay_popup_item .layui-form-radio>i{margin-right: 4px; font-size: 16px}
.pay_popup_page.layui-layer-page .layui-layer-btn{padding: 20px 0}

/*协议*/
span.tips_p {color: red; display: none;}
.agr_content{display:none;height:700px;padding:20px; color: #000}
.agr_content h2{font-size:15px;line-height:30px;font-weight:600;text-indent:2em;}
.agr_content h3{font-size:15px;margin:30px 0 10px;font-weight:600;}
.agr_content p{margin:10px 0;line-height:30px;}
a.agreement:hover{text-decoration: underline}

/*login*/
.t_body{background: url("../../img/login_register.png") no-repeat center center; background-size: cover;text-align: center;}
.t_body .layui-form-item{margin-bottom: 15px}
.t_register{width: 786px;}
.t_login{width: 732px;}
.t_body:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.t_login, .t_register{/* height: 485.5px padding-top: 13%*/background: rgba(250, 250, 250, .04);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#19ffffff,endcolorstr=#19ffffff);display: inline-block;vertical-align: middle;
    /*position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}
.t_left{padding: 120px 0 0 50px;color: #fff; border-top-left-radius: 6px; border-bottom-left-radius: 6px;text-align: left;}
/*.t_left_login{padding-bottom: 172.5px}*/
/*.t_forgot_password .t_left{padding-bottom: 194.5px}*/
.t_right_login .layui-form-item{margin-bottom: 25px}
.t_left h2{font-size: 38px; font-weight: 600; background: linear-gradient(to bottom, #57cedf, #0296f4, #0291ee);
    -webkit-background-clip: text; color: transparent; letter-spacing: 3px; color:#0296f4;
    background:none\9; color: #0291ee\9;
    background: -ms-linear-gradient(top, transparent, transparent);}
.t_left p{font-size: 24px; margin: 15px 0 5px;letter-spacing: 3px}
.t_left span{letter-spacing: 1px; font-size: 16px}
.t_right{padding: 20px 20px 30px; background: #fff;border-top-right-radius: 6px; border-bottom-right-radius: 6px; text-align: left;}
.t_right img{width: 110px}
.t_right h2{padding:20px 0 25px 0; color: #58AAF1; font-weight: 600; font-size: 20px; text-align: center; letter-spacing: 2px}
.t_right form{padding: 0 30px;}
.t_name:hover,.t_name:focus{border:1px solid #05b9ef !important;}
/*.user_agreement{display:inline-block; margin-top: 10px}*/
.t_agrent{color: #666}
.t_agreed_login, .t_agreed_register,.t_confirm_password{height:38px; line-height:38px; margin: 30px 0 10px 0; border-radius: 20px; color: #fff; text-align: center;
    background: linear-gradient(to left, #57cedf ,#0291ee); cursor: pointer; outline: none; font-size: 16px;user-select:none;width: 100%;border: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#57cedf,endcolorstr=#0291ee,gradientType=1)}
.t_agreed_login{margin:20px 0 20px 0;}
.t_to_login,.t_to_register{text-align: center; font-size: 12px; color: #666}
.t_agrent a, .t_to_login a, .t_to_register a{color: #05b9ef}
.layui-form-checked[lay-skin=primary] i{border-color: #05b9ef; background-color: #05b9ef;}
.layui-form-checkbox[lay-skin=primary]:hover i{border-color: #05b9ef;}
.t_tips{margin-bottom: 10px; color: red; }
.t_tips i{vertical-align: middle; font-size: 17px}
.t_forgot_password_btn{text-align: right; font-size: 12px;margin-top: -10px;}
.t_forgot_password_btn a{color: #666}
.t_register_phone{border: 1px solid #e6e6e6; padding-left: 10px}
.t_register_phone i.layui-icon,.t_register_phone_num, .t_register_phone_input{float: left}
.t_register_phone i.layui-icon{height: 38px; line-height: 38px; color:#757575}
.t_register_phone_num{width: 77px}
.t_register_phone_num .layui-form-select .layui-input{padding-right: 32px; color:#757575;width: 59%\9;-ms-user-select: none}
:root .t_register_phone_num .layui-form-select .layui-input{width:100%}
.t_login input:-ms-input-placeholder, .t_register input:-ms-input-placeholder{color:#757575}
.t_register_phone_num .layui-form-select dl{left: -27px; border: 1px solid #05b9ef}
.t_register_phone_num input,.t_register_phone_input input{border: none}
.t_register_phone_input{width: 188px}
.t_register_phone input:hover, .t_register_phone input:focus{border: none !important}
.t_register_phone:hover, .t_register_phone:focus{border:1px solid #05b9ef !important;}
.t_register .layui-form-item, .t_login .layui-form-item{position: relative}
.t_register .layui-form-item i.t_icon, .t_login .layui-form-item i.t_icon{position: absolute; top:30%; left:4%; color:#757575}
.t_register .layui-form-item i.t_icon+input, .t_login .layui-form-item i.t_icon+input{padding-left: 40px}
.t_register_phone:hover i.layui-icon, .t_register .layui-form-item:hover i, .t_login .layui-form-item:hover i{color: #05b9ef}
.t_validate{width:62%;display: inline-block;float: left; border-right: none}
.t_validate:hover, .t_validate:focus{border-right: none !important;}
.t_get_validate{display:inline-block; width:38%; height:38px; line-height:38px; text-align:center; background: #05b9ef; color: #fff; cursor: pointer;user-select:none;}
.t_register_phone_num .layui-form-select dl dd.layui-this{background: none !important; color: #0090ee}
.layui-layer.layui-layer-tips .layui-layer-content{color:#000;    border: 1px solid #ccc;}
#loginTips>i:after{content: '';
    position: absolute;
    top: -2px;
    left: -16px;
    border: 8px solid transparent;
    border-right: 8px solid #ccc;
    /*border-bottom: 9px solid #ffa178;*/
}
#loginTips>.t_tips:after{content: '';
    position: absolute;
    top: 12px;
    left: -13px;
    border: 7px solid transparent;
    border-right: 7px solid #fff;
    z-index: 999;
    /*border-bottom: 9px solid #ffa178;*/
}

/*pay*/
.t_pay{background: #F2F2F2}
.t_pay header{min-width:1200px;height:60px;background:#000;}
.t_pay footer{min-width:1200px;}
.t_pay header div{width:1200px;height:60px;margin:0 auto;line-height:60px;}
.t_pay header div a{display:inline-block;height:50px;line-height:50px;}
.t_pay header div img{display: inline-block;vertical-align: middle;height: 100%}
.t_pay section{width:1200px;margin:0 auto;}
.t_pay section .pay_top{height:55px;border-bottom:1px solid #ddd;padding:10px 0 5px 10px;}
.t_pay section .pay_top img, .pay_text, .pay_info{float:left;}
.pay_text{margin:10px 0;padding:0 10px 0 8px;border-right:1px solid #DDDDDD;}
.pay_info{padding:25px 0 0 10px;}
.pay_middle{padding:36px 0 0 0;overflow:hidden;}
.pay_nav{height:12px;background:#000;border-radius:5px;width:1040px;margin:0 auto;}
.pay_content{width:1000px;height:392px;background:#fff;margin:-6px auto 0;border-radius:4px;border-top-left-radius:0;border-top-right-radius:0;}
.pay_content img{padding:42px 0 0 200px;float:left;}
.pay_code{border: 2px solid #000;border-radius: 20px;width: 190px;height: 190px;float: left;margin: 100px 35px 0 50px;padding: 8px}
.pay_code img{width:100%;padding:0}
.pay_price{padding-top:152px;float:left;}
.pay_price h3{color:#ff502e;font-size:26px;margin-bottom:33px;}
.pay_price p{margin-bottom:12px;}
.pay_bottom{padding:18px 0 50px;text-align:center;color:#444;}
.pay_bottom span{font-size:14px;margin-right:20px;}
.t_pay footer{background:#191919;height:46px;line-height:46px;color:#fff;text-align:center;}
img.pay_img_success{padding:126px 74px 0 334px;}
.pay_text_success{float:left;}
.pay_text_success h3{padding-top:122px;color:#333;font-size:24px;}
.pay_text_success span{display:block;padding:16px 0 24px 0;font-size:18px;}
.pay_text_success span i{color:#1053FD;font-style:normal;font-weight:600;}
.pay_text_success p{background:#1053FD;color:#fff;width:140px;height:40px;line-height:40px;text-align:center;cursor:pointer;}
.pay_success_result{border:none;margin-top:15px;}